body{
  text-align : center;
  margin:0;
  padding :0;
  font-family: "HelveticaNeueThin";
  color: #fff;
  font-size: 20px;
  background:#000;
  
}
h1{
  font-family: "HelveticaNeueThin";
  margin : auto;
  width : 100%;
  color: #fff;
  font-size: 60px;
  margin-top : 20px;
  font-weight: normal;
  line-height : 1;
}
h2{
  font-family: "HelveticaNeueThin";
  margin : auto;
  width : 100%;
  color: #fff;
  font-size: 30px;
  margin-top : 20px;
  font-weight: normal;
  line-height : 1;
}
img{
  position : absolute;
  top :0;
  left : 0;
  margin : 20px;
}


.button{ 
  //display: inline-block;
  //margin-top: 25px;
  //margin-bottom: 25px;
  font-family: 'HelveticaNeueThin';
  font-size: 20px;
  padding: 8px 40px 8px 40px;
  background-repeat: no-repeat;
  background-position: 10px 14px;
  background: #FF7900;
  border-radius: 3px;
  border: 0;
  color: #FFF;
  text-align: center;
 
  cursor: pointer;
} 
.button:hover{
  background :#cd5e00;
}


.desc{
  max-width : 480px;
  margin : auto;
  width : 100%;
  margin-top : 20px;
   margin-bottom : 40px;
}

a.button{
		//display:block;
		color:#ffffff;
		font-weight:bold;
		height:30px;
		line-height:29px;
		margin-bottom:14px;
		text-decoration:none;
		width:150px;
	}

a:hover.button{
		//color:#ffffff;
}

.token{
		color:#555555;
		font-weight:bold;
		height:34px;
		line-height:29px;
		margin-bottom:14px;
		text-decoration:none;
		width:300px;
	}
	
